@import url('https://fonts.googleapis.com/css2?family=Noto+Naskh+Arabic:wght@400;700&display=swap');

body {
  direction: rtl;
  font-family: 'Noto Naskh Arabic', serif;
}

title, h1, h2, h3, h4, h5, h6, .main-menu {
  font-family: 'Noto Naskh Arabic', serif;
}

code {
  direction: ltr;
}
