@import url("https://fonts.googleapis.com/css?family=Amiri");
@import url(https://fonts.googleapis.com/earlyaccess/notokufiarabic.css);
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

body {
  direction: rtl;
  font-family: "Amiri", 'Roboto Mono', monospace;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  text-align: justify;
  background: #fff;
}

pre {
  padding: 2px;
  white-space: pre-wrap; 
  direction: ltr;
  border-style: solid;
  border-width: 1px;
  border-color: #dedede;
}

title, h1, h2, h3, h4, h5, h6 {
  font-family: "Noto Kufi Arabic", 'Roboto Mono', monospace;
  text-align: center;
}
